[*.{cs,vb}]

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public:suggestion

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_property = true:none

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_field = true:none

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_event = false:none

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_method = false:none
